bin/
obj/
publish/
dist/
node_modules/
_old_images_backup/
wwwroot/lib/
*.exe
*.zip
.vs/
.idea/
et\ --hard*
*.lscache

# === JANUSZ MAKER ===
**/wwwroot/data/
**/wwwroot/sounds/
**/wwwroot/images/
**/wwwroot/Images/
**/Assets/old/
**/games/
Tools/bin/
Tools/obj/